EFWeb/Connected Services/CustomerSoap/Customer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6002/Customer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" />
  <xs:import schemaLocation="http://localhost:6002/Customer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EFCommon" />
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" minOccurs="0" name="data" nillable="true" type="q1:CustomerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EFCommon" minOccurs="0" name="CreateCustomerResult" nillable="true" type="q2:ResponseBaseOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EFCommon" minOccurs="0" name="ReadCustomersResult" nillable="true" type="q3:ResponseBaseOfArrayOfCustomerContract06UNqukR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomerByIdOrName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomerByIdOrNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EFCommon" minOccurs="0" name="ReadCustomerByIdOrNameResult" nillable="true" type="q4:ResponseBaseOfCustomerContract06UNqukR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" minOccurs="0" name="data" nillable="true" type="q5:CustomerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EFCommon" minOccurs="0" name="UpdateCustomerResult" nillable="true" type="q6:ResponseBaseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EFCommon" minOccurs="0" name="DeleteCustomerResult" nillable="true" type="q7:ResponseBaseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>