EFWeb/Connected Services/CustomerSoap/Customer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityId" type="xs:long" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:long" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:long" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerContract" nillable="true" type="tns:CustomerContract" />
  <xs:complexType name="ArrayOfCustomerContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerContract" nillable="true" type="tns:CustomerContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerContract" nillable="true" type="tns:ArrayOfCustomerContract" />
</xs:schema>