EFWeb/Connected Services/CustomerSoap/Customer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Customer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6002/Customer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6002/Customer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6002/Customer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" />
      <xsd:import schemaLocation="http://localhost:6002/Customer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EFCommon" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomer_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomer_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_ReadCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomer_ReadCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_ReadCustomerByIdOrName_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerByIdOrName" />
  </wsdl:message>
  <wsdl:message name="ICustomer_ReadCustomerByIdOrName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerByIdOrNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomer_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomer_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomer">
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/CreateCustomer" message="tns:ICustomer_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/CreateCustomerResponse" message="tns:ICustomer_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/ReadCustomers" message="tns:ICustomer_ReadCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/ReadCustomersResponse" message="tns:ICustomer_ReadCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCustomerByIdOrName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/ReadCustomerByIdOrName" message="tns:ICustomer_ReadCustomerByIdOrName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/ReadCustomerByIdOrNameResponse" message="tns:ICustomer_ReadCustomerByIdOrName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/UpdateCustomer" message="tns:ICustomer_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/UpdateCustomerResponse" message="tns:ICustomer_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/DeleteCustomer" message="tns:ICustomer_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/DeleteCustomerResponse" message="tns:ICustomer_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomer" type="tns:ICustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomer/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomer/ReadCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCustomerByIdOrName">
      <soap:operation soapAction="http://tempuri.org/ICustomer/ReadCustomerByIdOrName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomer/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomer/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Customer">
    <wsdl:port name="BasicHttpBinding_ICustomer" binding="tns:BasicHttpBinding_ICustomer">
      <soap:address location="http://localhost:6002/Customer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>