EFWeb/Connected Services/TypesSoap/Types3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EFCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EFCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6002/Types.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" />
  <xs:complexType name="ResponseBaseOfArrayOfTypesContract06UNqukR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EFCommon" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTypesContract" Namespace="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfTypesContract" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBaseOfArrayOfTypesContract06UNqukR" nillable="true" type="tns:ResponseBaseOfArrayOfTypesContract06UNqukR" />
</xs:schema>