EFWeb/Connected Services/TypesSoap/Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EFWCF.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTypesContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypesContract" nillable="true" type="tns:TypesContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypesContract" nillable="true" type="tns:ArrayOfTypesContract" />
  <xs:complexType name="TypesContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypesContract" nillable="true" type="tns:TypesContract" />
</xs:schema>