EFWeb/Connected Services/TypesSoap/Types1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6002/Types.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFCommon" />
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" type="xs:long" />
        <xs:element minOccurs="0" name="countryId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EFCommon" minOccurs="0" name="GetCitiesResult" nillable="true" type="q1:ResponseBaseOfArrayOfTypesContract06UNqukR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EFCommon" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q2:ResponseBaseOfArrayOfTypesContract06UNqukR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EFCommon" minOccurs="0" name="GetCountriesResult" nillable="true" type="q3:ResponseBaseOfArrayOfTypesContract06UNqukR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EFCommon" minOccurs="0" name="GetDocumentTypesResult" nillable="true" type="q4:ResponseBaseOfArrayOfTypesContract06UNqukR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>